/* ==========================================================================
   Basic Setup
   ========================================================================== */

/**
 * Our Board on which the game is played is an N x N grid similar to a chess
 * board (8x8 symmetric grid).
 *
 * Instead of using a <table>, our board is constructed by adding child <div>
 * elements to the main #board. Each "square" on the board will be of uniform
 * height and width.
 */
body {
  font-size: 20px;
  margin-top: 60pt;
}


/* ==========================================================================
   The Board
   ========================================================================== */

/**
 * Our Board on which the game is played is an N x N grid similar to a chess
 * board (8x8 symmetric grid).
 *
 * Instead of using a <table>, our board is constructed by adding child <div>
 * elements to the main #board. Each "square" on the board will be of uniform
 * height and width.
 */

#board {
  width: 600px;
}

#board div {
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 1px;
  position: relative;
}

#board div:hover {
  outline: 5px solid rgba(150,150,150,.83);
  z-index: 100;
}

#board div.selected {
  outline: 5px solid rgba(200,0,200,.83);
  z-index: 10;
}


/* ==========================================================================
   The Navbar
   ========================================================================== */

/**
 * Our Navbar uses the classes provided by Twitter Bootstrap, but there are a
 * few things that we want to customize for our own aesthetic.
 */
.navbar .brand { font-size: 140%; }