/* ==========================================================================
   Basic Setup
   ========================================================================== */

/**
 * Our Board on which the game is played is an N x N grid similar to a chess
 * board (8x8 symmetric grid).
 *
 * Instead of using a <table>, our board is constructed by adding child <div>
 * elements to the main #board. Each "square" on the board will be of uniform
 * height and width.
 */
body {
  font-size: 20px;
  margin-top: 60pt;
}


/* ==========================================================================
   The Board
   ========================================================================== */

/**
 * Our Board on which the game is played is an N x N grid similar to a chess
 * board (8x8 symmetric grid).
 *
 * Instead of using a <table>, our board is constructed by adding child <div>
 * elements to the main #board. Each "square" on the board will be of uniform
 * height and width.
 */
#board {
  width: 600px;
}

/**
 * This overlay masks untargettable Squares on the board when moving a Piece, 
 * helping prevent illegal movement choices on the part of the player.
 * 
 * The board-overlay should be layered above most Squares on the board, but below
 * any suitable destinations. This element will only appear when a player is
 * choosing where to move a Piece.
 */
#board-overlay {
  background-color: rgba( 100, 100, 100, .8 );
  display: none;
  height: 575px;
  position: absolute;
  width: 575px;
  z-index: 5;
}

/**
 * The game Board is composed of many Squares, similar to an 8x8 chess board.
 * Each Piece on the Board is rendered in the center of a Square
 */
.square {
  display: inline-block;
  font-size: 40pt;
  line-height: 70px;
  height: 70px;
  width: 70px;
  margin: 1px;
  position: relative;
  text-align: center;
  vertical-align: top;
  z-index: 1;
}

.square:hover {
  outline: 5px solid rgba(150,150,150,.83);
  z-index: 100;
}

.square.selected {
  outline: 5px solid rgba(200,0,200,.83);
  z-index: 1000;
}

.square.destination {
  z-index: 10;
}


/* ==========================================================================
   The Navbar
   ========================================================================== */

/**
 * Our Navbar uses the classes provided by Twitter Bootstrap, but there are a
 * few things that we want to customize for our own aesthetic.
 */
.navbar .brand { font-size: 140%; margin: 0; }
.navbar .nav { margin: 10px 0px; }